
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <br>
            <h1> MEILI - your personal travel diary</h1>
            <p class="lead ">Meili is one of the Æsir in Norse mythology. His name appears to mean mile-stepper, and if accurate, could mean that he was a Norse god of travel.</p>

            <p class="text-center">
                <br>
                <a class="btn btn-default btn-success btn-lg" href="/map">Start annotating now</a>
                <br><br>
            </p>

            <p>The MEILI System is a semi-automatic travel diary collection system that leverages modern mobile and web Geographical Information System (GIS) capabilities to allow the seamless collection (MEILI Mobility Collector mobile application) and the periodic and convenient travel-diary-annotation (MEILI Travel Diary web application) of the trips of its users.</p>
            <p>The collected travel diaries give valuable insight into the travel needs of individuals and the population, which are essential in transportation planning.</p>
            <p>The use of the MEILI System is voluntary. The mobile- and web applications give user-controls for suspending collection or deleting a collected trip and the collected data is only analyzed in an anonymous form for research purposes.</p>
            <p>The MEILI System was originally developed in the SPOT-project which was funded by the Swedish Transport Administration (TRV 2014/10422)..</p>

        </div>
    </div>
    <!-- /.row -->

</div>
